extends ../layout/emp_layout.pug

block content
  h1.main-title 프로젝트 등록
  form(action='/project/new', method='POST')
    .form-group
      label(for='username') 프로젝트 이름
      input.form-control(type='text', id='project_name', name='project_name', placeholder='project_name')
    .form-group
      label(for='password') 시작일
      input.form-control(type='date', id='start_date', name='start_date', placeholder='start_date')
      input.form-control(type='time', id='start_time', name='start_time', placeholder='start_time')
    .form-group
      label(for='password_confirmation') 종료일
      input.form-control(type='date', id='end_date', name='end_date', placeholder='end_date')
      input.form-control(type='time', id='end_time', name='end_time', placeholder='end_time')
    .form-group
      label(for='name') 가격
      input.form-control(type='text', id='price', name='price', placeholder='price')
    .form-group
      label(for="client_id") 발주처
      select.form-control(name="client_id")
        each client in clients
          option(value=client.client_id)= client.name
    .form-group
      label(for='manager_name') 발주처 관리자이름
      input.form-control(type='text', id='manager_name', name='manager_name', placeholder='manager_name')
    .form-group
      label(for='manager_email') 발주처 이메일
      input.form-control(type='email', id='manager_email', name='manager_email', placeholder='manager_email')


    | 
    button.btn.btn-primary(type='submit') Register 
