extends ../layout/emp_layout

block content
  .container
    .card.mb-3
      .card-header
        i.fa.fa-table
        |  프로젝트 인원 투입
        .card-body
          .table-responsive
            h3 프로젝트 인원 투입
            table#dataTable.table.table-bordered(width='100%', cellspacing='0')
              thead
                tr
                  th ID
                  th 직원명
                  th 시작일
                  th 직무
                  th 언어
                  th 프레임워크
                  th 투입하기
              tbody
                each e in employees
                  tr
                    form(action=`/project/${id}/new`, method='POST')
                      td= e.employee_id
                        .form-group
                          input.form-control(id='employee_id', name='employee_id', value= e.employee_id,hidden="true")
                      td= e.name
                      td
                        .form-group
                          input.form-control(type='date', id='start_date', name='start_date', placeholder='start_date')
                          input.form-control(type='time', id='start_time', name='start_time', placeholder='start_time')
                      td
                        .form-group
                          select.form-control(name="job_id")
                            each j in job
                              option(value=j.job_id)= j.job
                      td
                        .form-group
                          input.form-control(type='language', id='language', name='language', placeholder='language')
                      td
                        .form-group
                          input.form-control(type='framework', id='framework', name='framework', placeholder='framework')     
                      td
                       button.btn.btn-primary(type='submit') 투입하기