extends ../layout/emp_layout

block content
  .container
    .card.mb-3
      .card-header
        i.fa.fa-table
        |  프로젝트 인원 수정
        .card-body
          .table-responsive
            h3 프로젝트 인원 수정
            table#dataTable.table.table-bordered(width='100%', cellspacing='0')
              thead
                tr
                  th ID
                  th 직원명
                  th 종료일
                  th 직무
                  th 언어
                  th 프레임워크
                  th 수정하기
              tbody
                each pro in project
                  tr
                    // 할거면 링크 고치기
                    form(action=`/project/edit/${id}`, method='POST')
                      td= pro.employee_id
                        .form-group
                          input.form-control(id='employee_id', name='employee_id', value= pro.employee_id,hidden="true")
                      td= pro.name
                      td
                        .form-group
                          input.form-control(type='date', id='end_date', name='end_date', placeholder='end_date')
                      td
                        .form-group
                          select.form-control(name="job_id")
                            each j in job
                              option(value=j.job_id)= j.job
                      td
                        .form-group
                          input.form-control(type='language', id='language', name='language', placeholder='language')
                      td
                        .form-group
                          input.form-control(type='framework', id='framework', name='framework', placeholder='framework')
                      td
                       button.btn.btn-primary(type='submit') 수정하기