extend layout/emp_layout.pug

block content
  // Breadcrumbs
  ol.breadcrumb
    li.breadcrumb-item
      a(href='#') Dashboard
    li.breadcrumb-item.active Charts
  //- .card.mb-3
  //-   .card-header
  //-     i.fa.fa-area-chart
  //-     |  년도별 매출
  //-   .card-body
  //-     .table-responsive
  //-       table#dataTable.table.table-bordered(width='100%', cellspacing='0')
  //-         thead
  //-           tr 
  //-             th year
  //-             th 매출

  //-         tbody
  //-           each y in year
  //-             tr 
  //-               td= y.years
  //-               td= y.prices
  //- .card.mb-3
  //-   .card-header
  //-     i.fa.fa-area-chart
  //-     |  분기별 매출 현황
  //-   .card-body
  //-     .table-responsive
  //-       table#dataTable.table.table-bordered(width='100%', cellspacing='0')
  //-         thead
  //-           tr 
  //-             th 분기
  //-             th 매출

  //-         tbody
  //-           each q in quarter
  //-             tr 
  //-               td= q.quarters
  //-               td= q.prices
  //- .card.mb-3
  //-   .card-header
  //-     i.fa.fa-area-chart
  //-     |  월별 매출 현황
  //-   .card-body
  //-     .table-responsive
  //-       table#dataTable.table.table-bordered(width='100%', cellspacing='0')
  //-         thead
  //-           tr 
  //-             th 월
  //-             th 매출

  //-         tbody
  //-           each m in month
  //-             tr 
  //-               td= m.months
  //-               td= m.prices
  //- .card.mb-3
  //-   .card-header
  //-     i.fa.fa-area-chart
  //-     |  프로젝트 현황
  //-   .card-body
  //-     .table-responsive
  //-       table#dataTable.table.table-bordered(width='100%', cellspacing='0')
  //-         thead
  //-           tr 
  //-             th 프로젝트 전체
  //-             th 시작 전
  //-             th 진행 중
  //-             th 완료

  //-         tbody
  //-           tr
  //-             td= all.counter
  //-             td= notyet.counter
  //-             td= ing.counter
  //-             td= done.counter

        
  // Area Chart Example
  .card.mb-3
    .card-header
      i.fa.fa-area-chart
      |  매출 현황
    .card-body
      canvas#myAreaChart(width='100%', height='30')
  .row
    .col-lg-8
      // Example Bar Chart Card
      .card.mb-3
        .card-header
          i.fa.fa-bar-chart
          |  고객 만족도
        .card-body
          canvas#myBarChart(width='100', height='50')
    .col-lg-4
      // Example Pie Chart Card
      .card.mb-3
        .card-header
          i.fa.fa-pie-chart
          |  프로젝트 진행 현황
        .card-body
          canvas#myPieChart(width='100%', height='100')

    script(src='vendor/chart.js/Chart.min.js')          
    script(src='js/sb-admin-charts.js')
    script.
      //매출
      var ctx = document.getElementById("myAreaChart");
      var myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: ["Mar 1", "Mar 2", "Mar 3", "Mar 4", "Mar 5", "Mar 6", "Mar 7", "Mar 8", "Mar 9", "Mar 10", "Mar 11", "Mar 12", "Mar 13"],
          datasets: [{
            label: "Sessions",
            lineTension: 0.3,
            backgroundColor: "rgba(2,117,216,0.2)",
            borderColor: "rgba(2,117,216,1)",
            pointRadius: 5,
            pointBackgroundColor: "rgba(2,117,216,1)",
            pointBorderColor: "rgba(255,255,255,0.8)",
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(2,117,216,1)",
            pointHitRadius: 20,
            pointBorderWidth: 2,
            data: [100000,1220000,230232323,1231233,5555555],
          }],
        },
        options: {
          scales: {
            xAxes: [{
              time: {
                unit: 'date'
              },
              gridLines: {
                display: false
              },
              ticks: {
                maxTicksLimit: 7
              }
            }],
            yAxes: [{
              ticks: {
                min: 0,
                max: 40000,
                maxTicksLimit: 5
              },
              gridLines: {
                color: "rgba(0, 0, 0, .125)",
              }
            }],
          },
          legend: {
            display: false
          }
        }
      });
      // -- Pie Chart Example
      var ctx = document.getElementById("myPieChart");
      var aa = [1,2,3,4];
      var total = [];

      //- for (i in data.rows){
      //-   total.push(data.rows[i].total)
      //- }
      var myPieChart = new Chart(ctx, {
        type: 'pie',
        data: {
          labels: ["진행중 프로젝트", "완료된 프로젝트", "시작 전인 프로젝트"],
          datasets: [{
            data: ['#{nothing.counter}','#{ing.counter}','#{done.counter}'],
            backgroundColor: ['#007bff', '#dc3545', '#ffc107', '#28a745'],
          }],
        },
      });

