html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')

    title #{title}

    include includes/css/core.pug

    include includes/css/custom.pug

  body.bg-dark
    .container
      .card.card-body.ma-auto.mt-5
        h1.text-center 프람트 테크놀로지
      .card.card-login.mx-auto.mt-5
        .card-header
          | Login
        .card-body
          form#frm_login(action='/', method='post', name='frm_login')
            .form-group
              label(for='username') ID
              input#exampleInputEmail1.form-control(name='username', type='text', placeholder='Enter Id')
            .form-group
              label(for='password') Password
              input#exampleInputPassword1.form-control(name='password',type='password', placeholder='Enter Password')
            button.btn.btn-primary.btn-block(type='submit', value='Login') Login
          .text-center
            a.btn.btn-outline-primary(href='/users/new') 직원 회원가입

    include includes/js/core.pug
