extends ../layout/emp_layout.pug

block content
  h1.main-title 평가 점수 및 코멘트 조회
  .container
    .card.mb-3
      .card-header
        .card-body
          .table-responsive
            table#dataTable.table.table-bordered(width='100%', cellspacing='0')
              thead
                tr 
                  th ID
                  th 직원명
                  th Score
                  th Commnet
              tbody
                each m in members
                  tr
                    td= m.employee_id
                    td= m.name
                    td
                    td