extends ../layout/emp_layout

block content
  .container
    h1.main-title 직원 회원가입
    form(action='/users/new', method='POST')
      .form-group
        label(for='username') Username(ID)
        input.form-control(type='text', id='username', name='username', placeholder='Id')
      .form-group
        label(for='password') Password
        input.form-control(type='password', id='password', name='password', placeholder='Password')
      .form-group
        label(for='password_confirmation') Password Confirmation
        input.form-control(type='password', id='password_confirmation', name='password_confirmation', placeholder='Password')
      .form-group
        label(for='name') Name
        input.form-control(type='text', id='name', name='name', placeholder='Name')
      .form-group
        label(for='employee_id') Employee ID
        input.form-control(type='text', id='employee_id', name='employee_id', placeholder='Employee ID')

      | 
      button.btn.btn-primary(type='submit') Register 
