extends ../layout/emp_layout.pug

block content
  h1.main-title 발주처 변경하기
  form(action='/client/edit/:id', method='PUT')
    .form-group
      label(for='client_name') 발주처명
      input.form-control(type='text', id='client_name', name='client_name', placeholder='client_name', value=client.name)
    .form-group
      label(for='tel') 대표번호
      input.form-control(type='text', id='tel', name='tel', placeholder='tel')
    .form-group
      label(for='address') 주소
      input.form-control(type='text', id='address', name='address', placeholder='address')
    button.btn.btn-primary(type='submit') 발주처 수정하기 
  
  
    