// Navigation
nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  a.navbar-brand(href='/project') Prompt Technology
  button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarResponsive.collapse.navbar-collapse
    ul#exampleAccordion.navbar-nav.navbar-sidenav
      li.nav-item(data-toggle='tooltip', data-placement='right', title='Dashboard')
        a.nav-link(href='/project')
          //i.fa.fa-fw.fa-dashboard
          span.nav-link-text
            | 프로젝트

      each item in user.roles
        case item
          when 'management'
            li.nav-item(data-toggle='tooltip', data-placement='right', title='Example Pages')
              a.nav-link.nav-link-collapse.collapsed(data-toggle='collapse', href='#collapseExamplePages', data-parent='#exampleAccordion')
                span.nav-link-text
                  | 인사관리
              ul#collapseExamplePages.sidenav-second-level.collapse
                li
                  a(href='/') 신입사원 추가
                li
                  a(href='/') 전체직원 조회
      each item in user.roles
        case item
          when 'management'
            li.nav-item(data-toggle='tooltip', data-placement='right', title='Dashboard')
              a.nav-link(href='/')
                //i.fa.fa-fw.fa-dashboard
                span.nav-link-text
                  | 평가관리
      li.nav-item(data-toggle='tooltip', data-placement='right', title='Dashboard')
        a.nav-link(href='/evaluation/${pro.project_id}')
          //i.fa.fa-fw.fa-dashboard
          span.nav-link-text
            | 평가하기
      li.nav-item(data-toggle='tooltip', data-placement='right', title='Dashboard')
        a.nav-link(href='/users/myinfo')
          //i.fa.fa-fw.fa-dashboard
          span.nav-link-text
            | 개인정보수정
    ul.navbar-nav.sidenav-toggler
      li.nav-item
        a#sidenavToggler.nav-link.text-center
          i.fa.fa-fw.fa-angle-left
    ul.navbar-nav.ml-auto  
      li.nav-item
        a.nav-link(data-toggle='modal', data-target='#exampleModal')
          i.fa.fa-fw.fa-sign-out
          | Logout
